<div class="back-container">
  <button class="back-btn" routerLink="/app/shop/products" >← Back</button>
</div>

<div class="cart-page">
  <h2>Votre Panier</h2>

  <div *ngIf="items$ | async as items; else emptyCart">
    
    <div class="items-list">
      <app-cart-item *ngFor="let it of items"
        [item]="it"
        (remove)="removeItem(it.productId)"
        (quantityChange)="updateQuantity(it.productId, $event)">
      </app-cart-item>
    </div>

    <div class="subtotal">
      <span>Total :</span> <strong>{{ total$ | async }} €</strong>
    </div>

    <button routerLink="/app/shop/checkout/summary" class="checkout-btn">
      Passer à la caisse
    </button>

  </div>

  <ng-template #emptyCart>
    <p>Votre panier est vide.</p>
  </ng-template>
</div>
