<div class="status-chips">
    <mat-chip class="chip-connected" selected *ngIf="token$ | async">Connected</mat-chip>
    <mat-chip color="warn" selected *ngIf="!(token$ | async)">Not Connected</mat-chip>
  </div>

<div class="back-container right">
  <a routerLink="/app" class="link-nav">← Acceuil</a>
  <a routerLink="/app/shop/rating" class="link-nav">← Rating</a>
  <button routerLink="/app" class="btn-back"> Back</button>
</div>

<p>products-page works!</p>

<mat-card style="max-width:1000px; margin:16px auto; padding:16px;">
  <h2>Liste des produits</h2>
  <div style="display:flex; gap:12px; margin-bottom:12px; flex-wrap:wrap;">
    <mat-form-field appearance="outline" style="width:120px;">
      <mat-label>Page</mat-label>
      <input matInput type="number" [(ngModel)]="page" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:140px;">
      <mat-label>Page size</mat-label>
      <input matInput type="number" [(ngModel)]="pageSize" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:160px;">
      <mat-label>Min rating</mat-label>
      <input matInput type="number" [(ngModel)]="minRating" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:200px;">
      <mat-label>Ordering</mat-label>
      <mat-select [(ngModel)]="ordering">
        <mat-option value="">None</mat-option>
        <mat-option value="price">price ↑</mat-option>
        <mat-option value="-price">price ↓</mat-option>
        <mat-option value="-created_at">newest</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onApplyFilters()">Apply</button>
  </div>

  <app-products-list [products]="(products$ | async) ?? []"></app-products-list>


  <div style="display:flex; gap:8px; margin-top:16px; align-items:center;">
    <button mat-stroked-button (click)="prevPage()">Prev</button>
    <button mat-stroked-button (click)="nextPage()">Next</button>
  </div>
</mat-card>
