.btn-back {
  background: #f7f3e9;
  border: 1px solid #e6e1d5;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.2s;
  color: #333;
}

.btn-back:hover {
  background: #eee7d8;
}

.back-container {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

/* Bouton aligné à droite */
.back-container.right {
  justify-content: flex-end;
  align-items: center;
  gap: 120px;
}

mat-card {
  background: #f5e7d0; /*beige foncé*/
}

.status-chips {
  margin-bottom: 16px;
}

.chip-connected {
  background-color: #00ff00 !important; /* beige */
  color: #333 !important; /* texte lisible */
  border: 1px solid #e6e1d5;
  font-weight: 500;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeInOut 1.5s ease-in-out;
  z-index: 9999;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}
