<div class="back-container">
  <button class="back-btn" routerLink="/app/shop/products">
    ← Back
  </button>
</div>

<mat-card class="wishlist-card">

  <mat-card-title>
    ❤️ Ma Wishlist
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>

    <ng-container *ngIf="products$ | async as products; else empty">

      <app-products-list
        [products]="products"
        [showRemove]="true"
        (add)="addToCart($event)"
        (toggleWishlist)="removeFromWishlist($event.id)">
      </app-products-list>

    </ng-container>

    <ng-template #empty>
      <p class="empty">
        Votre wishlist est vide.
      </p>
    </ng-template>

  </mat-card-content>

</mat-card>
