/* src/app/shop/checkout/step1-summary.component.css */
.cart-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.left {
  flex: 2;
}
.center {
  flex: 1;
  display: flex;
  justify-content: center;
}
.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
input {
  width: 50px;
  text-align: center;
}

.subtotal {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1em;
}

button {
  margin-top: 20px;
  padding: 8px 12px;
  border: none;
  background-color: #d4a574;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d4a574;
}

.checkout-container {
  max-width: 800px;
  margin: 20px auto;
  background: #f5e7d0; /* beige comme le panier */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.back-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.back-btn {
  background: #f7f3e9;
  border: 1px solid #d1c7b8;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.2s;
  color: #333;
}

.back-btn:hover {
  background: #e9dfcf;
}
